body {
    font-family: Arial, sans-serif;
    background-color: #fdfafa;
    color:#070707;
    margin: 0;
    padding: 0;
}
header {
    background-color: #efeeee;
    color: #0b0b0b;
    padding: 10px 0;
}
nav ul {
    background-color:#e9e7e7;
    padding: 10px;
    color:#0b0b0b;
}
nav li {
    display: inline;
    margin-right: 10px;
}
main {
    margin: 20px;
}